<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQMS">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS3">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS4">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService3">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService4">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS5">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS11">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS21">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS31">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS41">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS51">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS6">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS7">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService5">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService11">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService21">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService31">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService41">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService51">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService6">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService7">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSAPI.IQMS"
                name="BasicHttpBinding_IQMS" />
            <endpoint address="http://localhost:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS1" contract="QMSAPI.IQMS1"
                name="BasicHttpBinding_IQMS1" />
            <endpoint address="http://localhost:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS2" contract="QMSAPI.IQMS2"
                name="BasicHttpBinding_IQMS2" />
            <endpoint address="http://localhost:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS3" contract="QMSAPI.IQMS3"
                name="BasicHttpBinding_IQMS3" />
            <endpoint address="http://localhost:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS4" contract="QMSAPI.IQMS4"
                name="BasicHttpBinding_IQMS4" />
            <endpoint address="http://localhost:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPI.IQTService1"
                name="BasicHttpBinding_IQTService" />
            <endpoint address="http://localhost:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService1" contract="QMSAPI.IQTService"
                name="BasicHttpBinding_IQTService1" />
            <endpoint address="http://localhost:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService2" contract="QMSAPI.IQTService2"
                name="BasicHttpBinding_IQTService2" />
            <endpoint address="http://localhost:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService3" contract="QMSAPI.IQTService3"
                name="BasicHttpBinding_IQTService3" />
            <endpoint address="http://localhost:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService4" contract="QMSAPI.IQTService4"
                name="BasicHttpBinding_IQTService4" />
            <endpoint address="http://selun-hmd3:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS5" contract="QMSAPI.IQMS1"
                name="BasicHttpBinding_IQMS5" />
            <endpoint address="http://selun-hmd3:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS11" contract="QMSAPI.IQMS"
                name="BasicHttpBinding_IQMS11" />
            <endpoint address="http://selun-hmd3:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS21" contract="QMSAPI.IQMS2"
                name="BasicHttpBinding_IQMS21" />
            <endpoint address="http://selun-hmd3:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS31" contract="QMSAPI.IQMS3"
                name="BasicHttpBinding_IQMS31" />
            <endpoint address="http://selun-hmd3:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS41" contract="QMSAPI.IQMS4"
                name="BasicHttpBinding_IQMS41" />
            <endpoint address="http://selun-hmd3:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS51" contract="QMSAPI.IQMS5"
                name="BasicHttpBinding_IQMS51" />
            <endpoint address="http://selun-hmd3:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS6" contract="QMSAPI.IQMS6"
                name="BasicHttpBinding_IQMS6" />
            <endpoint address="http://selun-hmd3:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS7" contract="QMSAPI.IQMS7"
                name="BasicHttpBinding_IQMS7" />
            <endpoint address="http://selun-hmd3:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService5" contract="QMSAPI.IQTService"
                name="BasicHttpBinding_IQTService5" />
            <endpoint address="http://selun-hmd3:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService11" contract="QMSAPI.IQTService1"
                name="BasicHttpBinding_IQTService11" />
            <endpoint address="http://selun-hmd3:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService21" contract="QMSAPI.IQTService2"
                name="BasicHttpBinding_IQTService21" />
            <endpoint address="http://selun-hmd3:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService31" contract="QMSAPI.IQTService3"
                name="BasicHttpBinding_IQTService31" />
            <endpoint address="http://selun-hmd3:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService41" contract="QMSAPI.IQTService4"
                name="BasicHttpBinding_IQTService41" />
            <endpoint address="http://selun-hmd3:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService51" contract="QMSAPI.IQTService5"
                name="BasicHttpBinding_IQTService51" />
            <endpoint address="http://selun-hmd3:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService6" contract="QMSAPI.IQTService6"
                name="BasicHttpBinding_IQTService6" />
            <endpoint address="http://selun-hmd3:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService7" contract="QMSAPI.IQTService7"
                name="BasicHttpBinding_IQTService7" />
        </client>
    </system.serviceModel>
</configuration>
